.Rproj.user
.Rhistory
.RData
.Ruserdata

#ignore file types
*.png
*.JPG
*.PNG
*.Rproj
*.gslides
*.pdf
*.nb.html
*.txt

#ignore files
test-doc.md
test-doc.rmd
Terminal v Bash.txt
Git Exercise.Rmd
previous_index.html


#ignore directory
/Logos